.construction-container {
    min-height: 60vh; /* Garante que o footer fique lรก embaixo */
}

.icon-wrapper {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(-10px);}
}